:root {
    --background-color: #ffc360;
    --window-color: #ffd99b;
}

[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --window-color: #282828;
    --border-color: #333333;
}

.main-layout {
    height: 94vh;
    background-color: var(--background-color);
    color: var(--text-color);
}