:root {
  --navbar-bg-color: #a0091b;
  --dropdown-item-hover-color: #90091b;
}

.dark-button {
  color: #ffffff;
  padding-right: 1.0rem;
}

.custom-navbar {
  background-color: var(--navbar-bg-color);
  min-height: 6vh;
  width: 100vw;
}

.custom-dropdown-item:hover {
  background-color: var(--dropdown-item-hover-color);
}

.custom-dropdown-item:focus {
  background-color: var(--navbar-bg-color);
}

.custom-dropdown-menu {
  min-width: 5.2rem;
  text-align: center;
}

.dropdown-menu {
  position: absolute;
  right: 0; /* Align to the right edge */
  left: auto;
  transform: translateY(10px); /* Add a slight vertical offset */
  z-index: 1050; /* Ensure it appears above other elements */
  max-width: 90vw; /* Prevent the menu from being too wide on small screens */
}

.dropdown-item {
  white-space: nowrap; /* Prevent text wrapping */
}